h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 5px;
  margin-top: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #273135;
}
img {
  margin-bottom: 25px;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 65px auto;
}
.weather-app {
  padding: 30px;
  border: 1px solid #a2a4aa;
  border-radius: 6px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 54px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -25px;
}

.weather-temperature .active {
  color: #002939;
  cursor: default;
}

.forecast-week {
  font-family: "Hind", sans-serif;
  margin-top: 5px;
  text-align: center;
  color: #000;
}

.forecast-date .forecast-min {
  opacity: 0.5;
}
.forecast-date {
  font-size: 16px;
}

.forecast-weather {
  font-size: 13px;
}
